@import "rem.scss";
@import "variables.scss";

html,
body {
  height: 100%;
}

div, form{
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: rem(1600)) {
  .container {
    max-width: rem(1600) !important;
  }
}
header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  .navbar {
    background: $dark !important;
    color: $white;
    transition: $transition-base;
    text-transform: uppercase;
    a{
      *{
        color: $white;
      }
    }
    .bi{
      color: $success;
      transition: $transition-base;
      &:hover{
        color: shift-color($success,50%);
      }
    }
    &.scroll{
      background: $gray-800 !important;
    }
  }
}
.bi{
  font-size: rem(30);
  line-height: 1em;
}
.form-control{
  color: $white;
  &>label{
    color: $white !important;
  }
}

.card{
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, li{
    color: $dark;
  }
}
ol, ul{
  padding-left: 1em;
}

.form-control>label{
  color: $white !important;
}
.btn{
  text-transform: uppercase;
}
.card{
  width: 100%;
  overflow: hidden;
  padding: unset;
  border: unset !important;
}
.login-icon{
  width: rem(30);
  height: rem(30);
  background: $success;
  border-radius: 50%;
  color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  font-weight: $font-weight-semibold;
  transition: $transition-base;
  &:hover{
    text-decoration: unset;
    background: shift-color($success,40%);
  }
}
.alert{
  display: none;
}

footer {
  padding: rem(15) rem(20);
  border-top: 1px solid $white;
  text-transform: uppercase;
}
.bg-light, .bg-dark{
  color: $dark;
}
img{
  max-width: 100%;
}
.basket_view{
  .img-fit{
    width: 100%;
    max-height: rem(150);
    object-fit: cover;
    border-bottom: none;
  }
}
.books_list{
  .img-fit{
    width: 100%;
    max-height: rem(250);
    object-fit: contain;
    border-bottom: none;
  }
}
.book_view{
  a[data-fancybox] {
    overflow: hidden;
    display: block;
    img{
      transition: $transition-base;
    }
    &:hover{
      img{
        transform: scale(1.01);
      }
    }
  }
}

#submit_basket{
  pointer-events: none;
  opacity: 0;
  transition: $transition-base;
  &.active{
    pointer-events: all;
    opacity: 1;
  }
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
